:root {

--peach:  #FFC286;
--green: #66806A;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    background-color: wheat;
    color: var(--green);
    font-size: 20px;

  }


section {
    padding: 25px 30px 20px 30px;
    background: #fff;
    border-radius: 14px;
}

section .btn {
    flex-direction: center;
    
}

#questions {
    display: none;
    align-items: center;
}

#final {
    display: none;
}

#highscores {
    display: none;
}

#highscores h2 {
    text-align: center;
}

#view-scores {
    background-color: #66806A;
    
}

#view-scores:hover {
    background-color: var(--peach);
    color: var(--green);
}

#start {
    background-color: #66806A;
}

#start:hover {
    background-color: var(--peach);
    color: var(--green);
}

.btn {
    background-color: #66806A;
    color: white;
}

.btn:hover {
    background-color: var(--peach);
    color: var(--green);
}

#final h2 {
    text-align: center;
}

#final p {
    text-align: center;
}

#score-list {
    text-align: center;
}