
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    background-color: #FFC286;
    color: #66806A;
    font-size: 20px;

  }

  ::selection{
    color: #fff;
    background: gray;

  }
  
  